.wrapper-container-grid-row {
  display: grid;
  grid-template-columns: 252px 4fr;
  // gap: 20px;
  @include for_breakpoint(tablet) {
    grid-template-columns: 1fr;
  }

  > div {
    &:nth-child(1) {
      background-color: #131842 !important;
      //   > .logo-container {
      //     @include flex();
      //     margin: 20px 0px 20px 0px;
      //     // border-bottom: 1px solid #eeeeee11;
      //     // padding-bottom: 20px;
      //   }

      //
      //   @include for_breakpoint(tablet) {
      //     display: none;
      //   }
      .sidebar-container {
        position: fixed;
        top: 0;
        height: 100vh;
        > .logo-container {
          @include flex();
          margin: 20px 0px 20px 0px;
          // border-bottom: 1px solid #eeeeee11;
          // padding-bottom: 20px;
        }

        > aside {
          border: none !important;
          > div {
            background-color: #131842 !important;
          }
        }
        background-color: #131842 !important;
        @include for_breakpoint(tablet) {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      padding: 40px 40px;
      @include for_breakpoint(mobile) {
        padding: 40px 15px;
      }
      .input-container {
        @include flex($gap: 0px, $justify: flex-end);
        @include for_breakpoint(mobile) {
          @include flex($dir: column);
        }
        margin-top: 20px;
        > input {
          width: 40%;
          padding: 0px 10px;
          font-family: "Montserrat";
          height: 48px;
          outline: none;
          border: none;
          border-radius: 2px 0px 0px 2px;
          -webkit-border-radius: 2px 0px 0px 2px;
          -moz-border-radius: 2px 0px 0px 2px;
          -ms-border-radius: 2px 0px 0px 2px;
          -o-border-radius: 2px 0px 0px 2px;
          @include for_breakpoint(mediumTablet) {
            width: 60%;
          }
          @include for_breakpoint(mobile) {
            width: 100%;
          }
        }
        > button {
          background-color: #e76f51;
          height: 48px;
          border-radius: 0px !important;
          //   margin-top: -2px;
          color: white;
          font-family: "Krona One";
          font-size: 12px;
          width: 200px;
          -webkit-border-radius: 0px !important;
          -moz-border-radius: 0px !important;
          -ms-border-radius: 0px !important;
          -o-border-radius: 0px !important;
          @include for_breakpoint(mobile) {
            margin-top: 10px;
          }
        }
      }
      > .header-info {
        @include flex($justify: space-between);
        margin-bottom: 5px;
        > h3 {
          font-family: "Montserrat";
          font-style: italic;
          font-weight: 300;
          color: white;
          font-size: 14px;
        }
        > button {
          color: white;
        }
      }

      .movie-list-grid-row {
        margin-top: 30px;
        @include grid($coloumns: repeat(4, minmax(0, 1fr)), $gap: 30px);
        @include for_breakpoint(LargeTablet) {
          @include grid($coloumns: repeat(3, minmax(0, 1fr)));
        }
        @include for_breakpoint(mediumTablet) {
          @include grid($coloumns: repeat(2, minmax(0, 1fr)), $gap: 40px);
        }
        > a {
          text-decoration: none;
          @include for_breakpoint(mediumTablet) {
            margin-bottom: 20px;
          }
          > img {
            width: 100%;
            cursor: pointer;
            height: 250px;
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
            object-position: top;
            overflow-clip-margin: unset;
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            &:hover {
              transform: scale(1.09);
              -webkit-transform: scale(1.09);
              -moz-transform: scale(1.09);
              -ms-transform: scale(1.09);
              -o-transform: scale(1.09);
            }
            @include for_breakpoint(mobile) {
              height: 160px;
            }
          }
          > h4 {
            color: white;
            font-family: "Krona One";
            font-size: 14px;
            font-weight: 300;
            margin-top: 15px;
            @include for_breakpoint(mobile) {
              font-size: 12px;
            }
          }
          > .watchlist-content {
            @include flex($justify: space-between);
            margin-top: 5px;
            p {
              color: #eee;
              font-family: "Montserrat";
              font-size: 12px;
            }
          }
        }
      }

      > .watch-list-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        height: auto;
        width: 100%;

        > h1 {
          font-family: "Krona One";
          font-weight: 700;
          font-size: 48px;
          color: #131842;
          @include for_breakpoint(mobile) {
            font-size: 32px;
          }

          > span {
            color: #e76f51;
          }
        }

        > p {
          &:nth-child(2) {
            margin-top: 10px;
          }

          font-family: "Montserrat";
          font-size: 16px;
          margin-bottom: 5px;
          @include for_breakpoint(mobile) {
            font-size: 18px;
          }
        }
      }
    }

    // > aside {
    //   border: none !important;

    //   > div:nth-child(1) {
    //     background-color: #131842 !important;
    //     height: 100vh;
    //   }
    // }

    // border: 1px solid black;
    // height: 50px;
  }
}

.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: #16181e !important;
  transition: 0.4s ease-in-out;
}

.ps-menu-root > ul {
  padding: 0px 20px;

  > li {
    border-bottom: 1px solid #eeeeee11;
    padding: 10px 0px 10px 0px;
    &:nth-child(2) {
      > a > span {
        @include flex($justify: flex-start, $gap: 20px);
        > div {
          @include flex();
          background-color: #e76f51;
          @include circle(20px, 20px);
        }
      }
    }
  }
}
