@import "mixin";
@import "./Styles/Login.scss";
@import "./Styles/Home.scss";
@import "./Styles/Movie.Detail.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body,
html {
  overflow-x: hidden;
  background-color: #16181e;
}

.loading-container {
  @include flex();
}

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1 1;
  font-family: "Krona One" !important;
  font-size: 12px !important;
  color: #1c1c1c !important;
}
